.signup{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.signup-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1
}

/*.signup-content>*{
  border: 2px solid blue
}*/

/*hero部分*/
.signup-hero{
  height: 140px;
}
.signup-hero .title{
  font-size: 36px;
  color: #ffffff;
  line-height: 42px;
  text-align: center;
  margin-top: 54px;
}
.signup-hero .slogan{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}

/*form样式*/
.signup-form{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  width: 280px;
  margin: 0 auto;
}
.signup-form .signup-text-inputs{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.signup-form  input{
    line-height: 56px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #E3E9EC;
    text-indent: 20px;
    color:#878787；
  }
.signup-form input::placeholder{
  color: #CECECE;
}
.signup-text-inputs-inner{
  display: flex;
  flex-direction: column;
}

/*button css*/
.signup-actions button {
  display: block;
  border: 0;
  line-height: 56px;
  outline: 0;
  width: 280px;
  margin: 0 auto;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.20);
  border-radius: 2px;
  font-size: 14px;
  color: #F77062;
}

.signup-other-option{
  margin-top: 15px;
  margin-bottom: 35px;
  text-align: center;
}
.signup-other-option a{
  color: white;
  /*line-height: 20px; 可点范围稍微大几个像素*/
}
