.signup{
  display: flex;
  align-items: center;
  flex-direction: column;
  /*justify-content: space-between;*/
  height: 100vh;
}
.signup .hero{
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.signup .title{
  font-size:40px;
  margin-top: 60px;
  font-weight: normal;
  color: #FFFFFF;
}
.signup .slogan{
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  color: #FFFFFF;
}

.signup .title-top{
  margin-top: 40px;
  color: #FFFFFF;
}

.signup .hero .signup-form{
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 40px;
}
.signup .hero .signup-form  input{
  width: 80vw;
  margin: 0 auto;
  text-indent: 20px;
  line-height: 50px;
  border-bottom: 1px solid #e1e1e1;
}
.signup .hero .signup-form button{
  display: block;
  width: 80vw;
  line-height: 50px;
  margin-top: 12px;
  background-color: white;
  color: pink;
  border-radius: 3px;
  font-size: 16px;
}

.signup>a{
  margin-top: 18px;
  font-size: 14px;
  color: white;
  letter-spacing:2px
}
